
{{!-- The Burgr header and burger information  --}}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Burrgggeeerrr</h1>
    </div>
    <div class="col-6 text-center">
      <div class="row">
        {{!-- {{#each burger_data}} --}}
        {{!-- {{#unless this.devoured}} --}}
        <div class="col-9 text-center">
          <pre>{{this.id}}. {{this.burger_name}}</pre>
          {{this.Date}}
        </div>
        <div class="col-3 text-center">
          <form class="devourBurgerForm">
            <input type="hidden" type="text" value="{{this.id}}">
            <br>
            <button type="submit" class="btn btn-primary">Devour!</button>
          </form>
        </div>
        {{!-- {{/unless}}
        {{/each}} --}}
      </div>
    </div>
    <div class="col-6 text-center">
      {{!-- {{#each burger_data}}
      {{#if this.devoured}} --}}
      <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
    </div>
    {{!-- {{/if}}
    {{/each}} --}}
  </div>
</div>

{{!-- New Burger Form  --}}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <form action="/burgers/create" method="POST">
      <input type="text" class="form-control" name="burger_name" value="">
      <button type="submit" class="btn btn-primary">Add!</button>
      </form>
      <p>Add the burger that you would like to Devour!</p>
    </div>
  </div>
</div>
